.contenedor_fondo {
  background-color: white;
  align-items: flex-end;
  justify-content: right;
  width: 100%;
  height: 776px;
  
  border: 2px solid #0984e3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
