body {
    background-color: #81c6f6;
}

.Contenedor {
    background-color: #ffff;
    width: 1000px;
    height: 700px;
    margin: 100px;
    margin-left: 25%;
}

.flex-auto {
    align-items: center;
    text-align: center;

}

.Titulo {
    margin-bottom: 5%;
    margin-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.opciones {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
}
.opciones i{
    margin: 5px;
}
.opciones h3{
    margin: 5px;
}
.pi {
    margin-left: 10px;
    margin-top: 10px;
}

.img {
    width: 125px;
    height: 125px;
}