


.cdr_inf2 {
    background-color: #ffff;
    width: 1090px;
    height: 750px;
    border-radius: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
}

#imagen-logo .pazve-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 15%;
    width: 650px;
}

.txt {
    padding-top: 14%;
    padding-left: 0%;
    text-align: start;
    color: black;
}

.txt h3 {
    text-align: center;
}

.Sgn {
    background-color: #0B99FE;
    color: #ffff;
    border-radius: 10px;
    border: 1px solid black;
    width: 266px;
    height: 52px;



}

.rgr {
    background-color: #ffff;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    width: 266px;
    height: 52px;
}

.btn-olvi-contra {
    padding-top: 10%;
    padding-left: 13%;
}

.unico {
    margin-left: 43px;
    margin-top: 17px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-left: 49px;
    width: 266px;
}

.p-inputtext:enabled:focus{
    width: 266px;
}

.p-inputtext2 {
    margin-left: 92px;
}