body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.cdr_inf{
    background-color: #ffff;
    padding: 2rem;
    width: 900px;
    height: 600px;
    border-radius: 20px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    font-size: 25px;
    box-sizing: border-box;
}

img{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 11%;
    margin-left: 2%;
    width: 550px;
    height: auto;
    margin-right: 80px;
}

#InputInfo {
    font-size: 50%;
    padding-right: 95px;
}

.register{
    background-color: #0B99FE ;
    color: #FFFFFF;
    width: 266px;
    height: 52px;
    margin-left: 12px;
}

.register:hover{
    background-color: #0b88e0 ;
}

.Titulo{
    text-align: center;
    font-size: 20px;
}

.p-inputtext, .p-component {
    margin-left: 0 !important;
}

.Container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}