.cdr_inf{
    width: 1090px ;
    height: 793px;
    background-color: #FFFFFF;
   
    border-radius: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
}

img{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 15%;
}

.letra{
    padding-top: 5%;
    padding-left: 11%;
}


button{
    background-color: #0B99FE ;
    color: #FFFFFF;
    width: 266px;
    height: 52px;
}

button:hover{
    background-color: #0b88e0 ;
}

