.cdr_inf{
    width: 1090px;
    height: 793px;
    background-color: #FFFFFF;
    border-radius: 20px;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    margin-right: 90px;
}

img{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 14%;
    margin-left: 5%;
    width: 600px;
    height: 500px;
}

.letra{
    padding-left: 7%;
    color: black;
}

p{
    text-align: center;
}

.p-float-label {
    font-size: 90%;
    padding-right: 80px;
}

button{
    background-color: #0B99FE ;
    color: #FFFFFF;
    width: 266px;
    height: 52px;
    padding: 0%;
}

button:hover{
    background-color: #0b88e0 ;
}

.fondo{
    padding-left: 4%;
}

.register{
    margin-right: 70px;
}
