body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/* Hola */
.cdr_inf{
    background-color: #ffff;
    padding: 2rem;
    width: 1000px;
    height: 750px;
    border-radius: 20px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    font-size: 20px;
    box-sizing: border-box;
    font-weight: normal;
}

.imagen{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 17%;
    margin-left: 5%;
    width: 450px;
    height: auto;
    margin-right: 55px;
}

#InputInfo {
    font-size: 50%;
    padding-right: 95px;
}

.register{
    background-color: #0B99FE ;
    color: #FFFFFF;
    width: 266px;
    height: 52px;
    margin-left: 40px;
    margin-top: 30px;
    border-radius: 10px;
}

.register:hover{
    background-color: #0b88e0 ;
}

.Titulo{
    text-align: center;
    font-size: 25px;
    margin-top: -10px;
}

.p-inputtext, .p-component {
    margin-left: 0 !important;
}

.Container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.p-float-label {
    padding: 5px;
}
