body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #81c6f6;
}

.header {
  width: 100vw;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #81c6f6;
  width: 100%;
  box-sizing: border-box;
}

.header-logo .Imagen {
  margin-left: 100px;
  width: 300px;
  height: auto;
}

.search-bar {
  flex-grow: 1;
  margin-left: 800px;
  margin-right: 70px;
  position: relative;
}

.search-bar input {
  width: 100%;
  height: 40px;
  padding: 10px 45px 10px 15px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar button {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  width: 100%;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  gap: 30px;
  margin-left: 5%;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 8px 16px;
  transition: background 0.3s;
  margin-left: 35px;
}

.nav-links a.active,
.nav-links a:hover {
  background-color: #0984e3;
  border-radius: 20px;
}

.login-button {
  color: white;
  font-weight: bold;
  text-decoration: none;
  margin-right: 5%;
}

.card {
  background-color: #0984e3;
  width: 20vw;
  height: auto;
  margin: 30px;
}

.p-listbox,
.p-component,
.p-listbox .p-listbox-list,
.p-listbox .p-inputtext,
.p-listbox .p-listbox-item,
.p-listbox .p-listbox-header {
  border-radius: 0 !important;
}

.p-listbox .p-listbox-item {
  border-bottom: 1px solid grey;
}

.p-listbox-header {
  background-color: #0984e3;
}

.p-component {
  border: 1px solid #0984e3;
}


.Filtro-Carrito {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
  padding-left: 100px;
}

.badge-carrito {
  margin-left: -9px;
  position: relative;
  margin-top: -20px;
  position: left;
  right: 0;
  top: 0;
  background-color: red;
}

.Boton-Carrito-Lateral {
  margin-top: 30px;
}

.p-button-rounded {
  background-color: #0984e3;
}

.p-overlaypanel {
  background-color: #288edb;
  color: white;
}