#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.contenedor_fondo {
  background-color: white;
  align-items: flex-end;
  justify-content: right;
  width: 100%;
  height: 100vh;
  
  border: 2px solid #0984e3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
