.ContenedorBienvenida {
    background-color: #ffff;
    padding: 2rem;
    width: 900px;
    border-radius: 20px;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    font-size: 25px;
    box-sizing: border-box;
}

.ImagenBienvenida {
    width: 300px;
    height: auto;
    margin-left: 145px;
}

h1{
    text-align: center;
    font-size: 40px;
}

.ParrafoBienvenida {
    margin: none !important;
}
.BotonSiguienteBienvenida{
    margin: 0 auto;
    background-color: #81C6F6 ;
    width: 271px;
    height: 74px;
    border-radius: 20px;
    font-size: 28px;
    box-shadow: 11px 5px 15px 0px rgba(0, 0, 0, 0.3);
}