body, html, #root {
  margin: 0;
  padding: 0;
  background-color: #81c6f6;
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
}

/* Barra Navegacion */
.header {
  width: 100%;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin-top: 180px;
  background-color: #81c6f6;
  width: 100%;
  box-sizing: border-box;
}

.header-logo .Imagen {
  width: 300px;
  height: auto;
}

.search-bar {
  flex-grow: 1;
  max-width: 500px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.search-bar input {
  width: 100%;
  height: 40px;
  padding: 10px 45px 10px 15px;
  border-radius: 30px;
  border: none;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar button {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.navbar {
  background-color: #000;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  width: 100%;
  box-sizing: border-box;
}

.nav-links {
  display: flex;
  gap: 30px;
}

/* Sidebar */
.sidebar {
  background-color: white;
  width: 25%;
  min-width: 260px;
  height: auto;
  padding: 20px 15px;
  margin-top: 30px;
  border-radius: 12px;
  border: 2px solid #0984e3;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.sidebar h3 {
  color: #0984e3;
  margin: 10px 0 0 30px;
}

/* Accesos */
.sidebar-accessos {
  margin-top: 70px;
  padding: 10px;
  width: 100%;
  border-top: 2px solid #ccc;
  text-align: center;
}

/* Carrito */
.carrito-container {
  position: absolute;
  top: 10px;
  right: 10px;
}
.img-perf {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
