#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.contenedor_fondo {
  background-color: white;
  align-items: flex-end;
  justify-content: right;
  width: 1077px;
  height: 776px;
}

.product-grid {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 1rem;
  flex-wrap: wrap;
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  }