.body {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin:0 auto;
}

.sidebar {
  width: 385px;
  height: 810px;
  padding-left: 40px;
}

.contenedor {
  width: 78%;
  height: auto;
  margin-top: 0px;
  border-radius: 20px;
  margin-left: 40px;
}

.simbolo {
  font-size: 30px;
  margin: 28px;
}

.estrellas {
  justify-content: center;
  justify-items: center;
  margin: 10px;
  color: #0984e3;
}

.calificacion .p-rating-item svg {
  color: #0984e3;
  
}

.calificacion .p-rating .p-rating-item{
  border: 0;
  
}

.p-rating-item-active,
.p-rating-item.p-focus {
  background-color: transparent !important;
  box-shadow: none !important;

}

